/* Gerais  #6666CC */

body{
    font-family: 'Lato', sans-serif;
}

.row{
    margin: 0;
}

.container{
    padding: 70px 0;
}

p, li{
    color: #444;
    font-size: 14px;
}

.container-fluid{
    --bs-gutter-x: 0;
}

/* Barra de Navegação */

header, .navbar{
    background-color: #ececf9;
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

#logo{
    width: 50px;
}

.navbar-brand{
    padding: 0;
    color: #131339;
}

.nav-brand:hover{
    color: #fff;
}

.nav-link{
    color: #131339;
}

.nav-link:hover{
    color: #cecece;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem 0.8rem;
}

/* Carrosel */

#mainSlides p{
    color: #cecece;
    font-size: 14pt;
}

.slider-btn{
    margin-top: 20px;
    margin-bottom: 40px;
}

/* Sobre */

#about-area{
    background-color: #f9f9f9;
}

.main-title{
    color: #444;
    font-size: 40px;
    margin: 0 0 65px 0;
    text-align: center;
}

.line-title{
    border-bottom: 2px solid #333;
    width: 10%;
    left: 45%;
    position: absolute;
    margin-top: -40px;
}

#about-list{
    list-style: none;
    line-height: 30px;
}

/* Serviços */

.service-box{
    text-align: center;
    margin-bottom: 50px;
}

.service-box i{
    font-size: 36px;
    margin-bottom: 20px;
}

.service-box:hover > i, .service-box:hover > h3{
    color: #008000;
}

.service-box i, .service-box h3{
    transition: .5s;
}

/* Dados */

.circle-box div {
    padding: 0 40px;
}

.progressbar-text {
    font-weight: bold;
    font-size: 32px;
}

#data-area p {
    color: #FFF;
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
}

/* Time */

.card-body{
    text-align: center;
    font-size: larger;
}

/* Recrutamento */

#apply-area .apply-box{
    padding: 70px;
    text-align: center;
}

#company-img{
    background-image: url('../img/empresa.jpg');
    background-size: cover;
}

.apply-box h4{
    color: #cecece;
}

.apply-box p{
    margin: 20px 0;
    color: #fff;
}

/* Portifólio */

#proj-btn{
    text-align: center;
    margin-bottom: 40px;
}